<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<!-- Bootstrapの設定 -->
	<link th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}" rel="stylesheet"></link>
	<script th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
	<title>Regist Formula</title>
</head>
<body>
<div class="containar">
	<div class="row">
		<div class="col-sm-5">
			<div class="page-header">
				<h1>計算式登録画面</h1>
				<div class="pull-right">
				<a class="btn btn-primary" th:href="@{/home}">戻る</a>
				</div>
			</div>
			<form method="post" th:action="@{/regist}" th:object="${registFormulaForm}">
				<table class="table table-bordered table-hover">
					<tr>
						<th class="active">日付ID</th>
						<td>
							<div class="form-group">
								<input type="text" class="form-control" th:field="*{formulaId}">
							</div>
						</td>
					</tr>
					<tr>
						<th class="active">計算式名</th>
						<td>
							<div class="form-group">
								<input type="text" class="form-control" th:field="*{formulaName}">
							</div>
						</td>
					</tr>
					<tr>
						<th class="active">加減値[年]</th>
						<td>
							<div class="form-group">
								<input type="text" class="form-control" th:field="*{valueYear}">
							</div>
						</td>
					</tr>
					<tr>
						<th class="active">加減値[月]</th>
						<td>
							<div class="form-group">
								<input type="text" class="form-control" th:field="*{valueMonth}">
							</div>
						</td>
					</tr>
					<tr>
						<th class="active">加減値[日]</th>
						<td>
							<div class="form-group">
								<input type="text" class="form-control" th:field="*{valueDay}">
							</div>
						</td>
					</tr><tr>
						<th class="active">日付指定</th>
						<td>
							<div class="form-group">
								<input type="text" class="form-control" th:field="*{designerDay}">
							</div>
						</td>
					</tr>
				</table>
				<ul>
					<li th:each="error:${#fields.detailedErrors()}">
						<span th:text="${error.message}">Error message</span>
					</li>
				</ul>
				<button class="btn btn-primary pull-left" type="submit">新規登録</button>
			</form>
		</div>
	</div>
</div>
</body>
</html>